[submodule "nmtpytorch/lib/subword_nmt"]
	path = nmtpytorch/lib/subword_nmt
	url = https://github.com/rsennrich/subword-nmt.git
	branch = master
[submodule "nmtpytorch/lib/data"]
	path = nmtpytorch/lib/data
	url = https://github.com/ozancaglayan/meteor-data.git
	branch = master
